
.login-page{
	width:360px;
	margin:auto;
	padding:10% 0 0;
}
.form{
	background-color:rgba(7,40,195,0.8);
	position:relative;
	z-index:1;
	max-width:360px;
	padding:48px;
	text-align: center;

}
.form input{
	font-family:"Roboto",sans-serif;
	outline:1 ;
	background-color:#f2f2f2;
	width:100%;
	border:0;
	margin:15px;
	padding:25px;
	box-sizing:border-box;
	font-size-adjust: 14px;
	
}
.form button{
	font-family:"Roboto",sans-serif;
	text-transform:uppercase;
	outline:1;
	background: #4CAF50;
	width:100%;
	border:0;
	padding:15px;
	color:#FFFFFF;
	font-size:14px;
	cursor:pointer;
	margin-left:12px;


}
.form button:hover,.form button:active{
	background:#43A047;
}
.form .message{
	color:white;
	font-size:20px;
}
.form .message a{
	color:brown;
	text-decoration: none;
	

}
.form .register-form{
	display:none;
}
